.main{
    width: 50vw;
    height: 100vh;
    /* left: 0px; */
    right: 0px;
 
}
.namecontent{
    display: flex;
    gap: 10px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    text-align: center;
  }
  .personalcontact{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  