/* Center the form on the page */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 1rem auto;
    width: 450px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  
  .input-fields label {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
  }
  
  .input-fields input[type="text"] {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  .input-fields input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
 
  .submit-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #0cd5e7;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    width: 80px;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #10d0d3;
  }
  .span{
    color:rgba(255, 0, 0, 0.386);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .personal{
    font-size: 30px;
  }
  .personalcontact a{
        color: #333;
        text-decoration: none;
  }


  /* App.css */


.tab {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  /* border: ; */
  background-color: #d0e7eb;
  width: 360px;
  border-radius: 8px;
}

.inputtab {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.add-button {
  background-color: #10d0d3;
  color: white;
  border-radius: 4px;
}

.cancel-button {
  background-color: #10d0d3;
  color: white;
  border-radius: 4px;
}
.container button{
       background-color: transparent;
       border: 0px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size: larger;
       cursor: pointer;
}
.github-link-container {
  position: relative;
  display: flex;
  align-items: center;
}

.github-link-container input {
  flex: 1;
  padding-right: 30px; 
}

.github-icon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  display: block;
}
.subform{
  display: flex;
  gap: 20px;
}